.git
.env
.venv
**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/node_modules
frontend/dist
backend/static

**/.mypy_cache
**/.env
**/.env.*
frontend/src-tauri/target
frontend/src-tauri/gen/android/.gradle
frontend/src-tauri/gen/android/app/build
